*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
.search-comp{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}
.logo{
    font-size: 34px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.logo > span:first-child{
    color: blue;
}
#search-input{
    width: 50%;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
#search-btn{
    padding: 11px 40px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.gallery{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding-block: 20px;
    margin-top: 70px;
}
.image{
    margin-bottom: 10px;
    object-fit: cover;
    overflow: hidden;
}
img{
    width: 100%;
}
@media (max-width: 999px){
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 960px){
    .logo{
        font-size: 24px;
        font-weight: bold;
    }
    #search-btn{
        display: none;
    }
    #search-input{
        width: 70%;
    }
}
@media (max-width: 800px){
    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
    
}
@media (max-width: 775px){
    .logo{
        font-size: 20px;
    }
}
@media (max-width: 750px){
    .logo{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: bold;
    }
    #search-input{
        width: 80%;
    }
}